<div class="logo">

</div>
<a class="signin" href="https://slack.com/oauth/authorize?scope=users:read,channels:write,channels:history,channels:read,chat:write:user,chat:write:bot,dnd:write,dnd:read,emoji:read,files:write:user,files:read,groups:write,groups:history,groups:read,im:write,im:history,im:read,mpim:write,mpim:history,mpim:read,pins:write,pins:read,reactions:write,reactions:read,reminders:write,reminders:read,search:read,stars:write,stars:read,team:read,usergroups:write,usergroups:read,users:write&client_id=48203572272.48200981078">Sign in</a>
<div class="header row">
    <div class="col-md-12">
        <div class="center">
            <p class="logos">
                <img src="~/Content/images/tornado.png" />
                @*<img class="taz" src="~/Content/images/tornado.png" />*@
                <span class="plus">+</span>
                <img src="~/Content/images/slack-logo-white.png" />
            </p>
            <p class="taglines">
                <span class="tagline1">Your notification storm is over</span>
                <span class="tagline2">The most powerful way to digest all your Slack notifications.</span>
            </p>
            <p class="add-to-slack">
                <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot,users:read,channels:write,channels:history,channels:read,chat:write:user,dnd:write,dnd:read,emoji:read,files:read,groups:write,groups:history,groups:read,im:write,im:history,im:read,mpim:write,mpim:history,mpim:read,pins:write,pins:read,reactions:write,reactions:read,reminders:write,reminders:read,search:read,stars:write,stars:read,team:read,usergroups:write,usergroups:read,users:write&client_id=48203572272.48200981078">
                    <img alt="Add to Slack" src="~/Content/images/CTA.png" />
                </a>
            </p>
        </div>
    </div>
</div>
