<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot,users:read,channels:write,channels:history,channels:read,chat:write:user,dnd:write,dnd:read,emoji:read,files:read,groups:write,groups:history,groups:read,im:write,im:history,im:read,mpim:write,mpim:history,mpim:read,pins:write,pins:read,reactions:write,reactions:read,reminders:write,reminders:read,search:read,stars:write,stars:read,team:read,usergroups:write,usergroups:read,users:write&client_id=48203572272.48200981078"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
        <a href="https://slack.com/oauth/authorize?scope=users:read,channels:write,channels:history,channels:read,chat:write:user,chat:write:bot,dnd:write,dnd:read,emoji:read,files:write:user,files:read,groups:write,groups:history,groups:read,im:write,im:history,im:read,mpim:write,mpim:history,mpim:read,pins:write,pins:read,reactions:write,reactions:read,reminders:write,reminders:read,search:read,stars:write,stars:read,team:read,usergroups:write,usergroups:read,users:write&client_id=48203572272.48200981078">Sign in</a>
    </div>
</div>
